{
    "presets": [
        [
            "es2015", 
            {
                "modules": false
            }
        ],
        "flow"
    ],
    "plugins": ["transform-vue-jsx", "external-helpers"]
}
